.section-banner{
    text-align: center;
    padding: 6em;
}

.section-banner h2{
    font-size: 3em;
    padding: 2em;
}

.section-touring{
    background-color: red;
}

.section-touring h2,
.section-touring p{
    color: white;
}