body{
    background-color: green;
}
.container{
    text-align: center;
}
a{
    text-decoration: none;
}
.links{
    list-style: none;
    font-size: 30px;
    
}
.container h1{
    color: aliceblue;
    font-size: 60px;
}